.hoverText {
  transition:
    0.35s font-weight,
    0.35s color,
    0.35s background-image;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(20, 90, 50); /* Dark Green */
  background-image: linear-gradient(45deg, rgb(20, 90, 50), rgb(34, 49, 63)); /* Dark Green to Dark Blue Gradient */
  -webkit-background-clip: text;
  background-clip: text;
}

.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(34, 49, 63); /* Dark Blue */
  background-image: linear-gradient(45deg, rgb(34, 49, 63), rgb(20, 90, 50)); /* Dark Blue to Dark Green Gradient */
  -webkit-background-clip: text;
  background-clip: text;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
  color: rgb(20, 90, 50); /* Dark Green */
  background-image: linear-gradient(45deg, rgb(20, 90, 50), rgb(34, 49, 63)); /* Dark Green to Dark Blue Gradient */
  -webkit-background-clip: text;
  background-clip: text;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(34, 49, 63); /* Dark Blue */
  background-image: linear-gradient(45deg, rgb(34, 49, 63), rgb(20, 90, 50)); /* Dark Blue to Dark Green Gradient */
  -webkit-background-clip: text;
  background-clip: text;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
  color: rgb(20, 90, 50); /* Dark Green */
  background-image: linear-gradient(45deg, rgb(20, 90, 50), rgb(34, 49, 63)); /* Dark Green to Dark Blue Gradient */
  -webkit-background-clip: text;
  background-clip: text;
}
